.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
}
.contactsListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* ContactCard */
.contactContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: max-content;
  width: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 15px;
  margin-bottom: 20px;
}
.contactContainer:hover {
  cursor: pointer;
}
.contactAvatar {
  aspect-ratio: 1/1;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contactAvatar > span {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.userInfoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userFullname {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
}
.infoHolder {
  display: flex;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}
.infoIcon {
  font-size: 22px;
}
.infoText {
  text-transform: lowercase;
  font-size: 18px;
  margin-bottom: 1px;
  margin-left: 5px;
}
.buttonIcon {
  color: red;
  font-size: 20px;
  transition: transform 200ms ease-in-out;
}
.buttonIcon:hover {
  transform: scale(1.2);
}
.buttonIcon:nth-child(2) {
  color: black;
}
/* Add button  */

.addButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #000;
  height: 60px !important;
  width: 60px !important;
  height: max-content;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  user-select: none;
  cursor: pointer;
}
.addButton > span {
  margin-top: -10px;
}
